---

{% if 'apps.openshift.io' in api_groups %}
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
{% else %}
apiVersion: apps/v1
kind: Deployment
{% endif %}
metadata:
  name: {{ nameserver }}
  namespace: {{ namespace }}
  labels:
    app: {{ nameserver }}
    service: {{ nameserver }}
spec:
  replicas: {{ size }}
{% if 'apps.openshift.io' in api_groups %}
  selector:
    app: {{ nameserver }}
    service: {{ nameserver }}
{% else %}
  selector:
    matchLabels:
      app: {{ nameserver }}
      service: {{ nameserver }}
{% endif %}
  template:
    metadata:
      labels:
        app: {{ nameserver }}
        service: {{ nameserver }}
    spec:
      containers:
      - image: {{ imageserver }}
        name: {{ nameserver }}
