---

{% if 'apps.openshift.io' in api_groups %}
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
{% else %}
apiVersion: apps/v1
kind: Deployment
{% endif %}
metadata:
  name: {{ name-server }}
  namespace: {{ namespace }}
  labels:
    app: {{ name-server }}
    service: {{ name-server }}
spec:
  replicas: {{ size }}
{% if 'apps.openshift.io' in api_groups %}
  selector:
    app: {{ name-server }}
    service: {{ name-server }}
{% else %}
  selector:
    matchLabels:
      app: {{ name-server }}
      service: {{ name-server }}
{% endif %}
  template:
    metadata:
      labels:
        app: {{ name-server }}
        service: {{ name-server }}
    spec:
      containers:
      - image: {{ image-server }}
        name: {{ name-server }}
