---

apiVersion: route.openshift.io/v1
kind: Route
metadata:
annotations:
  openshift.io/host.generated: "true"
  name: {{ name-server }}
  namespace: {{ namespace }}
  labels:
    app: {{ name-server }}
    service: {{ name-server }}
spec:
  port:
    targetPort: http-squash-api
  to:
    kind: Service
    name: {{ name-server }}
    weight: 100
  wildcardPolicy: None 
