---

apiVersion: v1
kind: Service
metadata:
  name: {{ name-server }}
  namespace: {{ namespace }}
  labels:
    app: {{ name-server }}
    service: {{ name-server }}
spec:
  ports:
  - name: http-squash-api
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: {{ name-server }}
    service: {{ name-server }}
